@{
    ViewBag.Title = "Home Page";
}

@model List<BE_2505.DataAccess.DTO.Student>
<div class="jumbotron">
    <h1>LỚP ASP.NET BACKEND 2505 NGÀY @DateTime.Now.ToString("dd/MM/yyyy")</h1>
    @Html.ActionLink("bấm vào đây", "abc", "test")
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>

@*cách 1: Giới hạn tham số truyền vào*@
@*@Html.Action("DemoPartialView", "Home", new {id = 10})*@


@*cách 2 :*@
@*@Html.Partial("~/Views/Home/DemoPartialView.cshtml");*@


<div id="PartialViewData">

</div>



@*cách 3: Không giới hạn tham số truyền vào *@
<script>
    $(document).ready(function () {
        loadPartialView();
    });

    function loadPartialView() {
        $.ajax({
            url: '/Home/DemoPartialView',
            type: "POST",
            data: {

            },
            contentType: "html",
            success: function (response) {
                //load partialviwe vào thẻ div

                $("#PartialViewData").html("");
                $("#PartialViewData").html(response);
            },
            error: function (xhr, status, error) {
                alert("Có lỗi xảy ra: " + error)
            }

        });
    }
</script>